<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title || 'CCVMTPTPM' %></title>
    <link rel="stylesheet" href="/tooplate_style.css">
    <link rel="stylesheet" href="/css/nivo-slider.css">
  </head>
  <body>
    <%- body %>
  </body>
</html>
